%p#notice= notice

%p
  %b Worker:
  = @worker_project.worker
%p
  %b Project:
  = @worker_project.project

= link_to 'Edit', edit_worker_project_path(@worker_project)
\|
= link_to 'Back', worker_projects_path
