= form_for @worker do |f|
  = error_messages_for @worker
  .row
    .col-md-6
      .form-group
        = f.label :ln
        = f.text_field :ln, class: 'form-control'
        = f.error_messages_for(:ln)
  .row
    .col-md-6
      .form-group
        = f.label :fn
        = f.text_field :fn, class: 'form-control'
        = f.error_messages_for(:fn)
  .row
    .col-md-6
      .form-group
        = f.label :sn
        = f.text_field :sn, class: 'form-control'
        = f.error_messages_for(:sn)
  .row
    .col-md-6
      .form-group
        = f.label :pas_number
        = f.text_field :pas_number, class: 'form-control'
        = f.error_messages_for(:pas_number)
  .row
    .col-md-6
      .form-group
        = f.label :pas_serial
        = f.text_field :pas_serial, class: 'form-control'
        = f.error_messages_for(:pas_serial)

  .row
    .col-md-6
      .form-group
        = f.label :inn
        = f.text_field :inn, class: 'form-control'
        = f.error_messages_for(:inn)


  .row
    .col-md-6
      .form-group
        = f.label :birthday
        .input-group.date.datepicker
          = f.text_field :birthday, value: lnil(f.object.birthday), class: 'form-control'
          %span.input-group-addon
            %span.glyphicon.glyphicon-calendar
        = f.error_messages_for(:birthday)
  .row
    .col-md-6
      .form-group
        = f.label :post
        = f.text_field :post, class: 'form-control'
        = f.error_messages_for(:post)

  %fieldset
    %legend Поле для отдела
    %button.btn.btn-info#department-change-exist-btn Выбрать/Создать
    %div.left#department-change{"data-content-new": "#{new_department_form(f)}",
      "data-content-exist": "#{render 'exist_department', f: f}"}
      = f.fields_for(:department) do |fr|
        = fr.hidden_field(:id)
        = render('workers/one_department_form', fr: fr)  






  .actions.margin-small-top
  = f.submit nil, class: 'btn btn-primary'
